* text=auto

# Git files
.gitattributes text
.gitignore text
.gitconfig text
.gitmodules text

# Batch script files
*.bat text eol=crlf

# Bash script files
*.sh text eol=lf

# Documents
*.sql text
*.md text
*.adoc text
*.textile text
*.mustache text
*.csv text
*.tab text
*.tsv text
*.coffee text
*.css text
*.htm text
*.html text
*.xhtml text
*.inc text
*.js text
*.jsx text
*.less text
*.od text
*.onlydata text
*.sass text
*.scm text
*.log text
*.properties text
*.scss text
*.styl text
*.tag text
*.ts text
*.tsx text
*.dockerignore text
Dockerfile text eol=lf
*.markdown text
*.mdwn text
*.mdown text
*.mkd text
*.mkdn text
*.mdtxt text
*.mdtext text
*.txt text
AUTHORS text
CHANGELOG text
CHANGES text
CONTRIBUTING text
COPYING text
copyright text
*COPYRIGHT* text
INSTALL text
license text
LICENSE text
NEWS text
readme text
*README* text
TODO text

# Configuration
*.cnf text
*.cfg text
*.conf text
*.config text
*.ini text
*.json text eol=lf
*.xml text eol=lf
*.bowerrc text
.browserslistrc text
.editorconfig text
*.npmignore text
*.yaml text eol=lf
*.yml text eol=lf
browserslist text
Makefile text eol=lf
makefile text eol=lf
Procfile text
.slugignore text

# Linters
.csslintrc text
.eslintrc text
.htmlhintrc text
.jscsrc text
.jshintrc text
.jshintignore text
.stylelintrc text

# Video
*.3gpp binary
*.3gp binary
*.as binary
*.asf binary
*.asx binary
*.fla binary
*.flv binary
*.m4v binary
*.mng binary
*.mov binary
*.mp4 binary
*.mpeg binary
*.mpg binary
*.ogv binary
*.swc binary
*.swf binary
*.webm binary

# Audio
*.kar binary
*.m4a binary
*.mid binary
*.midi binary
*.mp3 binary
*.ogg binary
*.ra binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
*.eps binary
*.ai binary
*.bmp binary
*.jng binary
*.jp2 binary
*.jpx binary
*.jxr binary
*.pdf binary
*.psb binary
*.psd binary
*.svg text
*.svgz binary
*.wbmp binary
*.webp binary

# Archives
*.7z binary
*.gz binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary

# Fonts
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary

# Code files
*.c text eol=lf
*.cc text eol=lf
*.h text eol=lf
*.py text eol=lf

# Objects files
*.slo binary
*.lo binary
*.o binary
*.obj binary
*.pyc binary
*.flo binary

# Precompiled header
*.gch binary
*.pch binary

# Library files
*.so binary
*.dylib binary
*.dll binary
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executable files
*.exe binary
*.out binary
*.app binary
fluxify-vm binary
fvm binary
